@{
    ViewData["Title"] = "Home";
}


@model List<Assignment_4_Movies.Models.StudentModel>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Student Database</h1>
            <p>This is a CRUD test web application for the life sciences development team. Student records are stored in a Sqlite datbase. This
            could easily be changed to a more reobust database platform.</p>
            <ol class="list-style-type:inherit;">
                <li>Create Student Records</li>
                <li>Read Student Records</li>
                <li>Update Student Records</li>
                <li>Delete Student Records</li>
            </ol>
        </div>
        <div class="col-sm">
            <img src="~/img/byu wide.jpeg" />
        </div>
    </div>

    @*table*@

    <div class="row" style="padding:10px 10px 10px 10px;">
        <div class="col-md-12">
            <a asp-action="CreateStudent" asp-controller="Home" class="btn btn-success">Create</a>
        </div>
    </div>
    <div class="row" style="padding:10px 10px 10px 10px;">

            <div>
                <table class="table" style="width:100%;">
                    <thead style="font-weight: bold;">
                        <tr>
                            <td>Name</td>
                            <td>Student Status</td>
                            <td>Email</td>
                            <td>Phone Number</td>
                            @*<td>Street Address</td>*@
                            <td>City</td>
                            <td>State</td>
                            @*<td>Zip</td>*@
                            <td>Manage</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.first_name @item.last_name</td>
                            <td>@item.category</td>
                            <td>@item.email</td>
                            <td>@item.phone_number</td>
                            @*<td>@item.street_address</td>*@
                            <td>@item.city</td>
                            <td>@item.state</td>
                            @*<td>@item.zip</td>*@
                            <td>
                                <a asp-action="Edit" asp-controller="Contacts" asp-route-id="@item.student_id" class="btn btn-success" style="background-color:orange">
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-controller="Contacts" asp-route-id="@item.student_id" class="btn btn-success" style="background-color:red">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>


    </div>
</div>





